In [0]:
import pandas as pd
import numpy as np
import io
import tensorflow as tf
import keras

Using TensorFlow backend.

In [0]:
from sklearn.datasets import load_iris

In [0]:
iris = load_iris()

In [0]:
type(iris)

sklearn.utils.Bunch

In [0]:
iris['data'].shape

(150, 4)

In [0]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [0]:
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [0]:
iris['filename']

'/usr/local/lib/python3.6/dist-packages/sklearn/datasets/data/iris.csv'

In [0]:
df= pd.DataFrame(iris['data'], columns=iris['feature_names'])

In [0]:
df['target']=iris['target']

In [0]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [0]:
df.drop('target', axis = 1, inplace = True)

In [0]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [0]:
y = iris['target']

In [0]:
newcolumns = []
for i in df.columns:
  print(i)
  i = i[:-5]
  i = i.replace(' ', '_')
  newcolumns.append(i)

sepal length (cm)
sepal width (cm)
petal length (cm)
petal width (cm)

In [0]:
df.columns = newcolumns

In [0]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [0]:
feat_cols = []
for i in df.columns:
  feat_cols.append(tf.feature_column.numeric_column(i))

In [0]:
feat_cols

[NumericColumn(key='sepal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='sepal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [0]:
y = pd.Series(data = y)

In [0]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Length: 150, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train, x_test, y_train, y_test = train_test_split(df,y, test_size = 0.3)

In [0]:
input_func = tf.estimator.inputs.pandas_input_fn(x = x_train, y = y_train, batch_size=10, shuffle=True) #shhhuffle will shuffle the data

In [0]:
input_func

In [0]:
classifier = tf.estimator.DNNClassifier(hidden_units=[10,20], n_classes=3,feature_columns=feat_cols) #for hidden units we can prpvide as 3, 3 as teire are 5 columne divide by 2 whichh gives as 2.5

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpf700ai3a
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpf700ai3a', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7efcfa99eb70>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [0]:
classifier.train(input_func, steps = 50)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/training/training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_estimator/python/estimator/canned/head.py:437: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/training/adagrad.py:76: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/array_ops.py:1475: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/training/monitored_session.py:882: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpf700ai3a/model.ckpt.
INFO:tensorflow:loss = 34.68731, step = 1
INFO:tensorflow:Saving checkpoints for 11 into /tmp/tmpf700ai3a/model.ckpt.
INFO:tensorflow:Loss for final step: 2.6998603.

In [0]:
output_func = tf.estimator.inputs.pandas_input_fn(x = x_test, batch_size=len(x_test), shuffle= False)

In [0]:
predictions = list(classifier.predict(output_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpf700ai3a/model.ckpt-11
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [0]:
predictions

[{'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.5850617 , -0.06434987,  1.0560557 ], dtype=float32),
  'probabilities': array([0.12748341, 0.2145833 , 0.6579333 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.8404156, -0.2460143,  1.5485122], dtype=float32),
  'probabilities': array([0.07291953, 0.13212626, 0.7949542 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.8481388 , -0.12750322,  1.495643  ], dtype=float32),
  'probabilities': array([0.07420428, 0.15254468, 0.77325106], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.7172495,  0.2116932, -0.5684649], dtype=float32),
  'probabilities': array([0.5320216 , 0.32089943, 0.14707898], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.1458672 ,  0.187003  ,  0.30569983], dtype=float32),
  'probabilities': array([0.25215986, 0.35175452, 0.3960856 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.8625387 , -0.22001858,  1.5972521 ], dtype=float32),
  'probabilities': array([0.06847613, 0.13019134, 0.8013325 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.783041  , -0.14813212, -0.5295677 ], dtype=float32),
  'probabilities': array([0.6012476 , 0.23694634, 0.161806  ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.9398493 ,  0.01468942,  1.5201148 ], dtype=float32),
  'probabilities': array([0.06535152, 0.16974875, 0.76489973], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.86721957,  0.1041504 , -0.6720252 ], dtype=float32),
  'probabilities': array([0.59496313, 0.2773916 , 0.12764522], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.40158296,  0.0916681 ,  0.68526495], dtype=float32),
  'probabilities': array([0.1784903 , 0.29230136, 0.5292083 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.7842318 ,  0.16401008, -0.6214007 ], dtype=float32),
  'probabilities': array([0.56084085, 0.3016343 , 0.13752486], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.60616267, -0.0222027 ,  1.0654775 ], dtype=float32),
  'probabilities': array([0.12324358, 0.22099113, 0.65576524], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.51753277,  0.04037727,  0.8630949 ], dtype=float32),
  'probabilities': array([0.14871183, 0.25980216, 0.59148604], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.9264199 ,  0.14587072, -0.72795326], dtype=float32),
  'probabilities': array([0.6062935 , 0.277776  , 0.11593052], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.77696943, -0.02219803, -0.56963533], dtype=float32),
  'probabilities': array([0.58485514, 0.26301125, 0.15213364], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.63011974, -0.14958641,  1.2215525 ], dtype=float32),
  'probabilities': array([0.1112669 , 0.1799115 , 0.70882165], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.49527663, -0.1634725 ,  1.0464855 ], dtype=float32),
  'probabilities': array([0.14151683, 0.19720085, 0.6612823 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.73389995,  0.07666296, -0.55430746], dtype=float32),
  'probabilities': array([0.5573993 , 0.28888968, 0.15371104], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.86274606, -0.16207743, -0.5866361 ], dtype=float32),
  'probabilities': array([0.6275199 , 0.2251917 , 0.14728849], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.7831605 ,  0.20168829, -0.6285082 ], dtype=float32),
  'probabilities': array([0.55468935, 0.31011277, 0.13519788], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.76187474, -0.07715225,  1.3435584 ], dtype=float32),
  'probabilities': array([0.08933453, 0.17717016, 0.73349535], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.88772976, -0.14671446,  1.5506042 ], dtype=float32),
  'probabilities': array([0.06871905, 0.144177  , 0.787104  ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.32911828, -0.10977183,  0.7774719 ], dtype=float32),
  'probabilities': array([0.18977882, 0.23632446, 0.5738967 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.750414  ,  0.03329276, -0.56161106], dtype=float32),
  'probabilities': array([0.5690128 , 0.27776673, 0.15322047], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.8741426 ,  0.04153071, -0.6603846 ], dtype=float32),
  'probabilities': array([0.60588825, 0.263508  , 0.1306038 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.5503195 ,  0.11392768,  0.92073375], dtype=float32),
  'probabilities': array([0.13704553, 0.26628318, 0.59667134], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.9814256 , -0.28175452,  1.8021178 ], dtype=float32),
  'probabilities': array([0.0521123 , 0.10490677, 0.842981  ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.87825644, -0.03808492, -0.6506673 ], dtype=float32),
  'probabilities': array([0.6185254 , 0.24739762, 0.13407703], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.7106707 ,  0.09016322, -0.54252106], dtype=float32),
  'probabilities': array([0.5484671 , 0.29489514, 0.15663771], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.9487001 , -0.20020272, -0.64156544], dtype=float32),
  'probabilities': array([0.65752447, 0.20842499, 0.13405049], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.63707286, -0.05155994,  1.0888937 ], dtype=float32),
  'probabilities': array([0.11885151, 0.21344683, 0.6677016 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.4923904 ,  0.23674107,  0.6895102 ], dtype=float32),
  'probabilities': array([0.157882  , 0.32733345, 0.5147846 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.8124301 ,  0.04757819, -0.6094642 ], dtype=float32),
  'probabilities': array([0.58594   , 0.27269813, 0.14136188], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.3821185 , -0.03234909,  0.7933051 ], dtype=float32),
  'probabilities': array([0.17673293, 0.25073814, 0.57252896], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.88438344,  0.1457404 , -0.69952697], dtype=float32),
  'probabilities': array([0.59420073, 0.2838864 , 0.12191288], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.8689996 , -0.06007452,  1.4566346 ], dtype=float32),
  'probabilities': array([0.07419135, 0.16659614, 0.75921255], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.7094568, -0.3626487,  1.5820712], dtype=float32),
  'probabilities': array([0.08127053, 0.11496084, 0.80376863], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.6384301 ,  0.01919856,  1.1030768 ], dtype=float32),
  'probabilities': array([0.1157924 , 0.22350362, 0.66070396], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.84486616,  0.12227295, -0.6612326 ], dtype=float32),
  'probabilities': array([0.5857321 , 0.28436804, 0.12989986], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.44221252,  0.00846908,  0.8086495 ], dtype=float32),
  'probabilities': array([0.16494207, 0.25885707, 0.5762009 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.9541884 , -0.06200933,  1.6233032 ], dtype=float32),
  'probabilities': array([0.06022457, 0.14697456, 0.79280084], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logits': array([ 0.82635957,  0.0773105 , -0.6312531 ], dtype=float32),
  'probabilities': array([0.58630145, 0.27721268, 0.1364859 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.8722585 , -0.27386028,  1.697221  ], dtype=float32),
  'probabilities': array([0.06297932, 0.11457213, 0.8224485 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.3005302 , -0.03306496,  0.71575046], dtype=float32),
  'probabilities': array([0.19725625, 0.25774452, 0.5449992 ], dtype=float32)},
 {'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'logits': array([-0.4360599 ,  0.08884259,  0.6891671 ], dtype=float32),
  'probabilities': array([0.17327389, 0.2928838 , 0.5338423 ], dtype=float32)}]

In [0]:
len(predictions)

45

In [0]:
ypred = []
for i in predictions:
  ypred.append(i['class_ids'][0])

In [0]:
ypred

[2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2]

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
cm = confusion_matrix(y_test, ypred)

In [0]:
cm

array([[18,  0,  0],
       [ 0,  0, 15],
       [ 0,  0, 12]])